<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".SoakSafeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_happy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_happy"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoakSafe">
        <activity
            android:name=".EditMaintenanceReportActivity"
            android:exported="false"
            android:theme="@style/Theme.SoakSafe.Maintenance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MaintenanceReportActivity"
            android:exported="false"
            android:theme="@style/Theme.SoakSafe.Maintenance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MaintenanceDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.SoakSafe.Maintenance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.SoakSafe.Maintenance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.SoakSafe.CreateAccount"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SoakSafe.Home"
            android:windowSoftInputMode="adjustResize" />

        <!-- Duolingo-style launcher icons: enable exactly one alias at a time (see AppIconManager). -->
        <activity-alias
            android:name=".LauncherHappy"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_happy"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_happy"
            android:targetActivity=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherSad"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sad"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_sad"
            android:targetActivity=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherStorm"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_storm"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_storm"
            android:targetActivity=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
